@import '../../styles/config.scss';

.currencySwitcher {
  position: relative;
  &.-open {
    .currencySwitcher__header {
      .currencySwitcher__arrowIcon {
        transform: rotate(180deg);
      }
    }
  }
  .currencySwitcher__header {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 rem(10px);
    cursor: pointer;
    .currencySwitcher__symbol {
      position: relative;
      top: rem(4px);
      margin-right: rem(9.5px);
      font-weight: 500;
      font-size: rem(18px);
    }
    .currencySwitcher__arrowIcon {
      position: relative;
      top: rem(7px);
      transition: 0.3s;
    }
  }
  .currencySwitcher__content {
    position: absolute;
    top: 84%;
    left: -20%;
    width: rem(114px);
    box-shadow: 0 rem(5px) rem(40px) 0 rgba(0, 0, 0, 0.07);
    background-color: $white-color;
    z-index: 100;
    .currencySwitcher__currencyItem {
      &:first-child {
        .currencySwitcher__currency {
          padding-top: rem(21px);
        }
      }
      &:last-child {
        .currencySwitcher__currency {
          padding-bottom: rem(21px);
        }
      }
      &:hover,
      &:focus {
        background-color: rgba(0, 0, 0, 0.03);
      }
      &.-selected {
        background-color: rgba(0, 0, 0, 0.07);
      }
      .currencySwitcher__currency {
        width: 100%;
        text-align: start;
        padding: rem(13px) 0 rem(13px) rem(20px);
        font-weight: 500;
        font-size: rem(18px);
        transition: 0.3s;
      }
    }
  }
}
