@import '../../styles/config.scss';

.button {
  transition: 0.3s;
  &.-big {
    font-family: raleway;
    font-weight: 600;
    font-size: rem(16px);
    padding: rem(16px);
  }
  &.-small {
    font-family: source-sans-pro;
    font-weight: 400;
    font-size: rem(16px);
    padding: rem(13px) rem(25px);
  }
  &.-green {
    background-color: $green-color;
    border: rem(1px) solid $green-color;
    color: $white-color;
    &:not(.-hoverDisabled) {
      @include ifDeviceCanHover() {
        &:hover {
          background-color: $white-color;
          color: $green-color;
        }
      }
      @include internetExplorerStyle() {
        &:hover {
          background-color: $white-color;
          color: $green-color;
        }
      }
      &.focus-visible {
        background-color: $white-color;
        color: $green-color;
      }
    }
  }
  &.-red {
    background-color: $red-color;
    border: rem(1px) solid $red-color;
    color: $white-color;
    &:not(.-hoverDisabled) {
      @include ifDeviceCanHover() {
        &:hover {
          background-color: $white-color;
          color: $red-color;
        }
      }
      @include internetExplorerStyle() {
        &:hover {
          background-color: $white-color;
          color: $red-color;
        }
      }
      &.focus-visible {
        background-color: $white-color;
        color: $red-color;
      }
    }
  }
  &.-dark {
    background-color: $firstDark-color;
    border: rem(1px) solid $firstDark-color;
    color: $white-color;
    &:not(.-hoverDisabled) {
      @include ifDeviceCanHover() {
        &:hover {
          background-color: $white-color;
          color: $firstDark-color;
        }
      }
      @include internetExplorerStyle() {
        &:hover {
          background-color: $white-color;
          color: $firstDark-color;
        }
      }
      &.focus-visible {
        background-color: $white-color;
        color: $firstDark-color;
      }
    }
  }
  &.-light {
    background-color: rgba(166, 166, 166, 0.2);
    border: rem(1px) solid $firstLight-color;
    color: $firstLight-color;
    &:not(.-hoverDisabled) {
      @include ifDeviceCanHover() {
        &:hover {
          background-color: $firstLight-color;
          color: $white-color;
        }
      }
      @include internetExplorerStyle() {
        &:hover {
          background-color: $firstLight-color;
          color: $white-color;
        }
      }
      &.focus-visible {
        background-color: $firstLight-color;
        color: $white-color;
      }
    }
  }
  &.-white {
    background-color: $white-color;
    border: rem(1px) solid $firstDark-color;
    color: $firstDark-color;
    &:not(.-hoverDisabled) {
      @include ifDeviceCanHover() {
        &:hover {
          background-color: $firstDark-color;
          color: $white-color;
        }
      }
      @include internetExplorerStyle() {
        &:hover {
          background-color: $firstDark-color;
          color: $white-color;
        }
      }
      &.focus-visible {
        background-color: $firstDark-color;
        color: $white-color;
      }
    }
  }
}
