// Raleway

@font-face {
  font-family: raleway;
  font-weight: 300;
  src: url('../assets/fonts/raleway/Raleway-Light.ttf');
  font-display: swap;
}

@font-face {
  font-family: raleway;
  font-weight: normal;
  src: url('../assets/fonts/raleway/Raleway-Regular.ttf');
  font-display: swap;
}

@font-face {
  font-family: raleway;
  font-weight: 500;
  src: url('../assets/fonts/raleway/Raleway-Medium.ttf');
  font-display: swap;
}

@font-face {
  font-family: raleway;
  font-weight: 600;
  src: url('../assets/fonts/raleway/Raleway-SemiBold.ttf');
  font-display: swap;
}

@font-face {
  font-family: raleway;
  font-weight: bold;
  src: url('../assets/fonts/raleway/Raleway-Bold.ttf');
  font-display: swap;
}

// Roboto

@font-face {
  font-family: roboto;
  font-weight: 500;
  src: url('../assets/fonts/roboto/Roboto-Medium.ttf');
  font-display: swap;
}

@font-face {
  font-family: roboto;
  font-weight: bold;
  src: url('../assets/fonts/roboto/Roboto-Bold.ttf');
  font-display: swap;
}

// Roboto Condensed

@font-face {
  font-family: roboto-condensed;
  font-weight: bold;
  src: url('../assets/fonts/robotoCondensed/RobotoCondensed-Bold.ttf');
  font-display: swap;
}

// Source Sans Pro

@font-face {
  font-family: source-sans-pro;
  font-weight: normal;
  src: url('../assets/fonts/sourceSansPro/SourceSansPro-Regular.ttf');
  font-display: swap;
}
