@import './config.scss';

// Prevent UI from stretching in big screens
.container {
  width: 100%;
  max-width: calc(rem(32px) + rem(1238px));
  padding: 0 rem(16px);
  margin: 0 auto;
}

// Set default text styles
body,
a,
button {
  font-family: raleway;
  color: $firstDark-color;
}

// Add space to create placeholder for header (because header has position: fixed)
body {
  padding-top: rem(78px);
}

// Hide focus outline if it is not needed, for example,
// when an element receives focus via the mouse.
*:focus:not(:focus-visible) {
  outline: none;
}

// Set default styles
* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

button {
  cursor: pointer;
  background: transparent;
  border: 0 none;
  padding: 0;
}

// Responsive UI (Because we use rem instead of px, we can take advantage of this code)
html {
  font-size: 100%;
}

@media (max-width: $lg-width) {
  html {
    font-size: 91%;
  }
}

@media (max-width: $tablet-width) {
  html {
    font-size: 90%;
  }
}

@media (max-width: $sm-width) {
  html {
    font-size: 100%;
  }
}
