// Media query widths
$xl-width: 1450px;
$lg-width: 1200px;
$tablet-width: 1024px;
$md-width: 992px;
$sm-width: 768px;
$xsm-width: 650px;
$xxsm-width: 576px;
$xxxsm-width: 450px;

// Colors
$firstDark-color: #1d1f22;
$secondDark-color: #292929;
$firstLight-color: #a6a6a6;
$white-color: #ffffff;
$green-color: #5ece7b;
$red-color: #ff0000;
