@import '../../styles/config.scss';

.pageWrapper__loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: rem(500px);
  min-width: rem(320px);
  .pageWrapper__loadingImage {
    animation: rotating 0.5s linear infinite;
  }
}

.pageWrapper__errorContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: rem(500px);
  .pageWrapper__error {
    font-family: roboto;
    font-weight: 700;
    font-size: rem(32px);
    padding: 0 rem(16px);
  }
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
